#logo{
    
   height: 500px;
   width: 350px; 
   position:absolute;
   padding-top: 465px;
   padding-left: 20px;




}
.pattern{
    background-image: url(../img/pattern.png) ;
    background-color: #4EA0FF; 
    padding-top: 200px;
    background-size: 400px 400px;
    
   
   }

   h1{
    font-size: 70px;
   }

   

   #color span{
    color: blue;
   }



 #tab{
    background-color: aqua;
    color: aliceblue;
    
    
    
 }

 #tab2{
    background-color:#B1E5F2;
    
    
 }







   .parag{
    color: rgb(121, 111, 111);
   }

   #hero {
    color: antiquewhite;
    font-size: 25px;
    background-image: url(../img/monitor.jpg);
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
   }


